<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./form.css">
    <title>New Message</title>
</head>
<body>
    <h1>New Message</h1>
    <form action="/new" method="post">
        <div class="input-box">
            <label for="user">User:</label>
            <input type="text" id="user" name="user">
        </div>
        <div class="input-box message-box">
            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>